.a{position:relative;left:940px;bottom:31px}
.b{position:absolute;right:10px;top:8px}
.c{position:absolute;left:1145px;top:0px}
.d{background-color:RGB(35,36,30);color:white;font-size:50px;position:relative;bottom:57px}
.e{position:relative;bottom:107px}
.f{background-color:RGB(35,36,30);color:white;font-size:35px;position:relative;bottom:146px}
.g{background-color:RGB(35,36,30);color:white;font-size:26px;position:relative;bottom:181px}
.h{background-color:RGB(35,36,30);color:white;font-size:32px;position:relative;bottom:239px}
.i{background-color:RGB(35,36,30);color:white;font-size:26px;position:relative;bottom:271px}
.j{background-color:RGB(35,36,30);color:white;font-size:35px;position:relative;bottom:332px}
.k{background-color:RGB(35,36,30);color:white;font-size:24px;position:relative;bottom:367px}
.s1{background-color:RGB(35,36,30);color:black;font-size:15px;position:relative;bottom:207px}
.s2{background-color:RGB(35,36,30);color:black;font-size:15px;position:relative;bottom:297px}
.l{margin-left:220px;position:relative;bottom:375px}
.m{margin-left:220px;position:relative;bottom:375px}
.n{margin-left:75px;font-size:40px;position:relative;bottom:390px}
.o{margin-left:75px;font-size:25px;position:relative;bottom:385px}
.s{margin-left:75px;font-size:25px;position:relative;bottom:381px}
.r{margin-left:75px;font-size:25px;position:relative;bottom:381px}
.a1{margin-left:75px;font-size:40px;position:relative;bottom:390px}
.a2{margin-left:460px;font-size:35px;position:relative;bottom:399px}
.a3{margin-left:160px;position:relative;bottom:399px}
.a4{margin-left:100px;font-size:35px;position:relative;bottom:399px}
.a5{margin-left:100px;position:relative;bottom:436px}
.a6{margin-left:160px;position:relative;bottom:460px}
.a7{margin-left:100px;font-size:35px;position:relative;bottom:462px}
.a8{margin-left:3px;position:relative;bottom:459px}
.a9{margin-left:160px;position:relative;bottom:420px}
.a10{margin-left:100px;font-size:35px;position:relative;bottom:422px}
.a11{margin-left:160px;position:relative;bottom:460px}
.a12{margin-left:270px;font-size:35px;position:relative;bottom:462px}
.a13{margin-left:110px;position:relative;bottom:460px}
.a14{margin-left:120px;position:relative;bottom:460px}
.a15{margin-left:100px;font-size:35px;position:relative;bottom:422px}
.a16{margin-left:320px;position:relative;bottom:320px}
.a17{margin-left:320px;position:relative;bottom:337px}
.a18{margin-left:320px;position:relative;bottom:342px}
.a19{margin-left:320px;position:relative;bottom:770px}
.a20{margin-left:170px;font-size:40px;position:relative;bottom:432px}
.a21{margin-left:170px;font-size:30px;position:relative;bottom:432px}
.a22{margin-left:570px;font-size:25px;position:relative;bottom:350px}
.a23{margin-left:170px;font-size:25px;position:relative;bottom:340px}
.a24{margin-left:170px;font-size:25px;position:relative;bottom:315px}
.a25{margin-left:170px;font-size:25px;position:relative;bottom:285px}
.a26{margin-left:170px;font-size:25px;position:relative;bottom:255px}
.a27{margin-left:645px;position:relative;bottom:580px}
.s3{background-color:RGB(80,242,240);font-size:20px;position:relative;bottom:470px}
.s55{margin-left:170px;font-size:30px;position:relative;bottom:432px}
.s56{margin-left:170px;font-size:30px;position:relative;bottom:432px}